<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.toys.core.spider.dao.ItemMapper">

    <resultMap id="itemMap" type="com.demo.toys.core.spider.domain.ItemDO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="post_date" property="postTime" jdbcType="TIMESTAMP"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <result column="delete_mark" property="deleteMark" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="insert" parameterType="com.demo.toys.core.spider.domain.ItemDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into item(title,url,post_date,gmt_create,gmt_modified,delete_mark) VALUES (#{title},#{url},#{postTime},now(),now(),0)
    </insert>

    <insert id="batchInsert" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.HashSet">
        INSERT INTO item(title,url,post_date,gmt_create,gmt_modified,delete_mark) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.title},#{item.url},#{item.postTime},now(),now(),0)
        </foreach>
    </insert>

    <insert id="batchInserts" keyProperty="id" useGeneratedKeys="true" parameterType="java.util.HashSet">
        INSERT INTO item(title,url,post_date,gmt_create,gmt_modified,delete_mark) VALUES
        <foreach collection="collection" item="item" separator=",">
            (#{item.title},#{item.url},#{item.postTime},now(),now(),0)
        </foreach>
    </insert>

    <select id="queryAllItem" resultMap="itemMap">
        select * from item;
    </select>

    <select id="getByItem" resultMap="itemMap">
        select * from item where delete_mark = 0
        <if test="title != null">
            AND title=#{title}
        </if>
        <if test="id != null">
            AND id=#{id}
        </if>
        <if test="url != null">
            AND url=#{url}
        </if>
        <if test="postTime != null">
            AND postTime=#{postTime}
        </if>
    </select>

</mapper>